/* FALLBACK MSG */

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    width: 1200px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active {
    opacity: 1;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

small {
    font-size: 0.7em;
}

/* BLOCKQUOTES */

blockquote {
    border-color: rgb(51, 51, 51);
}
blockquote p {
    font-size: inherit;
}

/* TITLES */

.title-big, .title-part, .title-subpart {
    text-align: center;
}
.title-big h1 {
    font-size: 2em;
}
.title-part h2 {
    font-size: 1.5em;
}
.title-subpart h3 {
    font-size: 1.3em;
}

#title img {
    margin: 50px 0;
}

.impress-enabled .title-part, .impress-enabled .part-subparts {
    opacity: 0;
}

.impress-on-title #part1, .impress-on-title #part2 {
    opacity: 0;
}

.impress-on-part1 #title, .impress-on-part1-subparts #title,
.impress-on-part2 #title, .impress-on-part2-subparts #title {
    opacity: 0;
}

.part-subparts ul {
    padding-left: 40px;
}

.next-part {
    text-align: center;
}
.next-part img {
    width: 50%;
}

.center {
    text-align: center;
}

/* SLIDES */

/* 1.1.1. FACEBOOK */

.impress-on-part-1-1-1 #facebook-cite {
    opacity: 0;
}

.impress-on-facebook-cite #part-1-1-1 {
    opacity: 0.1;
}

#question-1 img {
    width: 25%;
}

#pub-bandeau img {
    max-height: 800px;
}

#camembert p {
    font-size: 24px;
}

/* 1.1.2. GOOGLE */

#google-products .products .logos {
    position: relative;
    top: 450px;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
#google-products.present .products .logos,
.impress-on-google-centralized .products .logos {
    top: 0px;
}
#google-products .products img {
    max-width: 100%;
}
#google-products .spacer {
    height: 200px;
}

.impress-on-google-centralized #google-products {
    opacity: 1;
}

#google-centralized {
    text-align: center;
    height: 100%;
}
#google-centralized img.up {
    width: 25%;
    opacity: 0;
    position: relative;
}
#google-centralized.present img.up {
    opacity: 0.8;

    -webkit-animation: google_move_arrow 3s linear 0s infinite;
    -moz-animation: google_move_arrow 3s linear 0s infinite;
    -o-animation: google_move_arrow 3s linear 0s infinite;
    animation: google_move_arrow 3s linear 0s infinite;
}
@-webkit-keyframes google_move_arrow { from { top: 50px; opacity: 0; } 50% { opacity: 1; } to { top: -150px; opacity: 0; }  }
@-moz-keyframes google_move_arrow { from { top: 50px; opacity: 0; } 50% { opacity: 1; } to { top: -150px; opacity: 0; }  }
@-o-keyframes google_move_arrow { from { top: 50px; opacity: 0; } 50% { opacity: 1; } to { top: -150px; opacity: 0; }  }
@keyframes google_move_arrow { from { top: 50px; opacity: 0; } 50% { opacity: 1; } to { top: -150px; opacity: 0; }  }

#google-because {
    opacity: 0;
}
.impress-on-google-because #google-why {
    opacity: 0;
}
.impress-on-google-because #google-because {
    opacity: 1;
}
#google-because img.avatar {
    width: 50%;
}

#google-search-csq-2 img.access-denied {
    width: 25%;
}

.impress-on-google-search-diff .step.google-philo,
.impress-on-google-search-bubble .step.google-philo,
.impress-on-google-search-csq-1 .step.google-philo,
.impress-on-google-search-csq-2 .step.google-philo {
    opacity: 0;
}

.impress-on-google-philo-1 .step:not(.google-philo),
.impress-on-google-philo-2 .step:not(.google-philo),
.impress-on-google-philo-3 .step:not(.google-philo),
.impress-on-google-philo-4 .step:not(.google-philo) {
    opacity: 0;
}

/* 1.2. ETATS */

#states-overview img {
    max-width: 100%;
    margin-bottom: 10px;
}

#nsa-graph iframe,
#prism-manual iframe {
    width: 100%;
    height: 680px;
    border: none;
}

/* 1.2.5. FRANCE */
#schema img {
    width: 80%;
}

#orange-alcatel img.alcatel {
    float: right;
    width: 60%;
}

/* BACKDOORS */

#schema-tres-backdoor {
	opacity: 0;
}

.impress-on-schema-tres-backdoor #schema-pas-backdoor {
	opacity: 0;
}

.impress-on-schema-tres-backdoor #tres-intro-schema {
	opacity: 0;
}

.impress-on-schema-tres-backdoor #schema-tres-backdoor {
	opacity: 1;
}

#backdoor-raisons, #backdoor-grosses-raisons  {
	opacity: 0;
}

.impress-on-backdoor-raisons #backdoor-raisons {
	opacity: 1;
}

.impress-on-backdoor-grosses-raisons #backdoor-raisons {
	opacity: 1;
}

.impress-on-backdoor-grosses-raisons #backdoor-grosses-raisons {
	opacity: 1;
}

.impress-on-backdoor-raisons #PUISSAUCE {
	opacity: 0;
}

.impress-on-backdoor-grosses-raisons #PUISSAUCE {
	opacity: 0;
}

#backdoor-skype-logs {
	opacity: 0;
}

.impress-on-backdoor-skype-logs #backdoor-skype-logs {
	opacity: 1;
}

#NORAJ-DE-MON-LINUXAGE {
	opacity: 0;
}

.impress-on-NORAJ-DE-MON-LINUXAGE #NORAJ-DE-MON-LINUXAGE {
	opacity: 1;
}

/* XKEYSCORE */

#xkeyscore-logo {
	opacity: 0;
}

.impress-on-xkeyscore-logo #xkeyscore-logo {
	opacity: 1;
}

/* 2.2. EXCUSES */

#part-2-2 img {
    width: 25%;
}

#nothing-to-hide-society .img-container {
    text-align: center;
}
#nothing-to-hide-society .img-container img {
    width: 25%;
}

/*2.3 CENTRALISATION*/
#definition p {
    text-align: center;
}

/*3.2.4 TOR*/
#tor-schema img{
    text-align: center;
    width: 100%;
}

#tor-logo img{
    text-align: center;
    width: 100%;
}

#cavaliers img{
    width: 100%;
}

<<<<<<< HEAD
/*3.2.2 Cookies*/
#unegual {
    font-size: 300px;
}

#unegual .img-container {
    width: 50%;
    float: right;
}

#unegual .img-container {
    width: 50%;
    float: left;
}

#like-button img{
    width: 100%;
    text-align: center;
=======
/* La saucisse HTTPS */

#https-cessa {
	opacity: 0;
}

.impress-on-https-cessa #https-cessa {
	opacity: 1;
}

#https-cert-img3 {
	opacity: 0;
}

.impress-on-https-cert-img3 #https-cert-img3 {
	opacity: 1;
}

.impress-on-https-cert-img3 #https-cert-img2 {
	opacity: 0;
}

#https-PIRATAGE-schema2 {
	opacity: 0;
}

.impress-on-https-PIRATAGE-schema2 #https-PIRATAGE-schema2 {
	opacity: 1;
>>>>>>> ba3fdb9d0a177c0734f18e93b00f374f6c5c6540
}

/* Le droit à l'oubli */

#oubli-amendement-resume {
	opacity: 0;
}

.impress-on-oubli-amendement-resume #oubli-amendement-resume {
	opacity: 1;
}

.impress-on-oubli-amendement-resume #oubli-amendement {
	opacity: 0;
}

/* Firefox, GNU/Linux et les FOSS */

#part-3-2-3 img {
    width: 10%;
}


/* OVERVIEW */
#overview { display: none }

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(0,0,0,0.07);
}

/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.

    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.

    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events

    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.

    So use it wisely ... or don't use at all.
*/
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }